body{
    background-color: rgb(238, 204, 231);
    font-family: "Josefin Sans", sans-serif;
}
.mojj{
    width:80px;
    height: 80px;
    border-radius: 50%;
}
h1{
    text-align: center;
    font-size: 5rem;
}
h2{
    color:rgb(131, 96, 158)
}
.mojito{
    display: inline-block;
    width:45%;
    float:left;
    
}del{
   color:rgb(142, 121, 161) 
}
.mojito img{
    width: 200px;
    height: 200px;
}
@media(max-width:680px)
{.mojj{
   width: 40px;
   height: 40px;
}
    
    h1{
    font-size: 2rem;
}
    .mojito{
    display: block;
    width: 100%;
}.mojito img{
    display: inline;
    width: 100%;
    object-fit: cover;
}

}
